<div>
<button mat-icon-button color="black" (click)="createRecipient()">
  <mat-icon class="mat-18">add</mat-icon>
</button>



  <input
  matInput
    type="text"
    placeholder="Filter by email"
    [(ngModel)]="searchFilter"
    name="clause"
    autofocus
  />
    <button
      type="button"
      (click)="searchRecipientByFilter()"
    >
    <i class="material-icons">search</i>
    </button>
</div> 

<br>
<table mat-table [dataSource]="datarecipient" class="mat-elevation-z8">

    <ng-container *ngFor="let disCol of columns;
     let colIndex = index" matColumnDef="{{disCol}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{disCol}}</th>
        <td mat-cell *matCellDef="let element ">
          {{ disCol === 'lastUpdateDate' ?
             (element[disCol]| date:'dd-MM-yyyy') : element[disCol] }}
        </td>
    </ng-container>
    <ng-container matColumnDef="modification">
        <th mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let element" > 
            <div >
                <!-- <span class="actionBtn" (click)="delete(element.id)">
                  Delete
                </span> -->

                <button mat-icon-button color="accent" (click)="update(element)">
                  <mat-icon class="mat-18">system_update</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="delete(element.id)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>

                <!-- <span class="actionBtn" (click)="update(element)">
                    Update
                </span> -->
              </div>
            </td>

    </ng-container>


  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>




   

  