<div class="col-xs-12 col-sm-10 col-md-8">    
    <div class="card">
      <div class="card-header">
        <h2>Update Recipient </h2>
      </div>
      <div class="card-body">
        <form [formGroup]="recipientsForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname"
              formControlName="firstname" [(ngModel)]="recipient.firstname">       
            <div class="alert alert-danger" 
            *ngIf="recipientsForm.get('firstname').invalid 
              && recipientsForm.get('firstname').touched">
              <div *ngIf="recipientsForm.get('firstname').errors.required">
                First name is required
              </div>
              <div *ngIf="recipientsForm.get('firstname').errors.minlength">
                First name must be at least 5 characters long
              </div>
              <div *ngIf="recipientsForm.get('firstname').errors.maxlength">
                First name should not be more than 20 characters long
              </div>
            </div>                      
          </div>

          <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname"
              formControlName="lastname" [(ngModel)]="recipient.lastname">       
            <div class="alert alert-danger" 
            *ngIf="recipientsForm.get('lastname').invalid 
              && recipientsForm.get('lastname').touched">
              <div *ngIf="recipientsForm.get('lastname').errors.required">
                Last name is required
              </div>
              <div *ngIf="recipientsForm.get('lastname').errors.minlength">
                Last name must be at least 5 characters long
              </div>
              <div *ngIf="recipientsForm.get('lastname').errors.maxlength">
                Last name should not be more than 20 characters long
              </div>
            </div>                      
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email"
            formControlName="email"  [(ngModel)]="recipient.email">  
            <div class="alert alert-danger" *ngIf="recipientsForm.get('email').invalid 
                && recipientsForm.get('email').touched">
              Please enter a valid email
            </div>                      
          </div>

          <div class="form-group">
            <label for="adress">Adress</label>
            <input type="text" class="form-control" id="adress"
              formControlName="adress"  [(ngModel)]="recipient.adress">       
            <div class="alert alert-danger" 
            *ngIf="recipientsForm.get('adress').invalid 
              && recipientsForm.get('adress').touched">
              <div *ngIf="recipientsForm.get('adress').errors.required">
                Adress is required
              </div>
              <div *ngIf="recipientsForm.get('adress').errors.minlength">
                Adress must be at least 5 characters long
              </div>
              <div *ngIf="recipientsForm.get('adress').errors.maxlength">
                Adresse should not be more than 20 characters long
              </div>
            </div>                      
          </div>


          <div class="form-group">
            <label for="zipCode">Zip code</label>
            <input type="text" class="form-control" id="zipCode"
              formControlName="zipCode"  [(ngModel)]="recipient.zipCode">       
            <div class="alert alert-danger" 
            *ngIf="recipientsForm.get('zipCode').invalid 
              && recipientsForm.get('zipCode').touched">
              <div *ngIf="recipientsForm.get('zipCode').errors.required">
                Zip code is required
              </div>
              <div *ngIf="recipientsForm.get('zipCode').hasError('pattern')">
                * Invalid zip code.
              </div>
            </div>                      
          </div>

          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city"
              formControlName="city"  [(ngModel)]="recipient.city">       
            <div class="alert alert-danger" 
            *ngIf="recipientsForm.get('city').invalid 
              && recipientsForm.get('city').touched">
              <div *ngIf="recipientsForm.get('city').errors.required">
                City is required
              </div>
              <div *ngIf="recipientsForm.get('city').errors.minlength">
                City must be at least 4 characters long
              </div>
              <div *ngIf="recipientsForm.get('city').errors.maxlength">
                City should not be more than 20 characters long
              </div>
            </div>                      
          </div>

          <div class="form-group">
            <label for="cellPhone">Cell phone</label>
            <input type="text" class="form-control" id="cellPhone"
              formControlName="cellPhone"  [(ngModel)]="recipient.cellPhone">       
            <div class="alert alert-danger" 
            *ngIf="recipientsForm.get('cellPhone').invalid 
              && recipientsForm.get('cellPhone').touched">
              <div *ngIf="recipientsForm.get('cellPhone').errors.required">
                Cell phone is required
              </div>
              <div *ngIf="recipientsForm.get('cellPhone').hasError('pattern')">
                * Invalid number phone.
              </div>
            </div>                      
          </div>

          <div class="form-group">
            <label for="localisation">Localisation</label>
            <input type="text" class="form-control" id="localisation"
              formControlName="localisation"  [(ngModel)]="recipient.localisation">       
            <div class="alert alert-danger" 
            *ngIf="recipientsForm.get('localisation').invalid 
              && recipientsForm.get('localisation').touched">
              <div *ngIf="recipientsForm.get('localisation').errors.required">
                Localisation is required
              </div>
              <div *ngIf="recipientsForm.get('localisation').errors.minlength">
                Localisation must be at least 5 characters long
              </div>
              <div *ngIf="recipientsForm.get('localisation').errors.maxlength">
                Localisation should not be more than 20 characters long
              </div>
            </div>                      
          </div>
         
          <button type="submit" [disabled]="recipientsForm.invalid" class="btn btn-success">Save</button>
          <div class="alert alert-warning" *ngIf="submitted && !isRegistered">
            Update failed- {{ errorMessage }}
          </div>
        </form> 
        <div class="alert alert-success" *ngIf="isRegistered">
           update is successful!
        </div>
      </div>
    </div>
  </div>