<div class="col-xs-12 col-sm-10 col-md-8">    
    <div class="card">
      <div class="card-header">
        <h2>User Login</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username"
              formControlName="username">       
            <div class="alert alert-danger" *ngIf="loginForm.get('username').invalid 
              && loginForm.get('username').touched">
              <div *ngIf="loginForm.get('username').errors.required">
                User name is required
              </div>
            </div>                      
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
            formControlName="password"> 
            <div class="alert alert-danger" *ngIf="loginForm.get('password').invalid 
              && loginForm.get('password').touched">
              <div *ngIf="loginForm.get('password').errors.required">
                Password is required
              </div>
            </div>                       
          </div>
          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success">Login</button>
          <div class="alert alert-warning" *ngIf="submitted && isLoginFailed">
            Login failed- {{ errorMessage }}
          </div>
        </form> 
      </div>
    </div>
  </div>